html(lang="en")
	head
		title Plain Dealer Scraper
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
		link(rel='stylesheet', href='/assets/css/style.css')
		script(src='../public/assets/js/app.js')
		script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
	body
		.header
			nav
				.nav-wrapper
					a(class="brand-logo") Mongo DB Scraper
						ul(id="nav-mobile" class="right hide-on-med-and-down")
							li
								a(href="sass.html") Home
							li
								a(href="badges.html") Saved Articles
							li
								a(href="collapsible.html" class="waves-effect waves-light btn") Scrape New Articles
		.main
			.parallax-container
				.parallax
					img(src="https://dss.lafayette.edu/wp-content/uploads/sites/169/2017/08/lafayette-newspaper-a-1440x810.png")
			block content